.hero {
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: white;
}

.heroTextContainer {
    background-color: rgba(0, 0, 0, 0.6);
    /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Add shadow for extra clarity */
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Add shadow for extra clarity */
}

.btn {
    font-size: 1.25rem;
    padding: 10px 20px;
}