.heading {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.cardSize {
    width: 200px;
    height: 200px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, transform 0.1s ease;
    text-align: center;
    position: relative;
}

.cardImg {
    height: 100px;
    width: 100px;
    object-fit: contain;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.cardBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0.75rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cardHover:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.bgColor {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.exploreButton {
    background-color: #fb9c05;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: inline-block;
}

.exploreButton:hover {
    background-color: #fb9c05;
    transform: scale(1.1);
}

/* Styles for horizontal card display on mobile view */
@media (max-width: 768px) {
    .container {
        overflow-x: auto;
        /* Allow horizontal scrolling */
    }

    .row {
        flex-direction: row;
        /* Arrange cards in a row */
    }

    .col {
        flex: 0 0 auto;
        /* Prevent columns from shrinking */
        margin-right: 10px;
        /* Space between cards */
    }

    .cardSize {
        width: 150px;
        /* Adjust width for mobile view */
        height: auto;
        /* Adjust height for mobile view */
    }

    .cardImg {
        height: 120px;
        /* Adjust image height for mobile view */
    }

    .exploreButton {
        font-size: 0.9rem;
        /* Adjust button font size */
        padding: 8px 16px;
        /* Adjust button padding */
    }
}