.customBrand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 50px;
}

.navbarCustom {
    background-color: #ffffff;
}

.navbarCustom .nav-link {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    /* Black text for default links */
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #ffffff;
    /* White background for links */
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbarCustom .nav-link:hover,
.navbarCustom .nav-link:focus {
    color: #fb9c05;
    /* Orange text on hover */
    background-color: #ffffff;
    /* Background remains white on hover */
}

.navbarCustom .nav-link.active,
.navbarCustom .activeLink {
    color: #fb9c05 !important;
    /* Force orange text for active link */
    background-color: #ffffff !important;
    /* Background remains white */
    padding: 8px 12px;
    border-radius: 5px;
}