.testimonialSection {
    padding: 50px;
    background-color: #fb9c05;
    text-align: center;
}

.slider {
    width: 80%;
    margin: 0 auto;
}

.slick-slide {
    padding: 0 15px;

}

.slick-list {
    margin: 0 -15px;
}